.Footer {
  background-color: rgb(52, 58, 64);
  overflow: hidden;
  height: 40px;
  width: 100%;
  min-width: 1000px;
}

.footer-item {
  margin: 0 5px;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.icon-github, .icon-linkedin {
  height: 18px;
  width: 18px;
}
